
<title>Techizant</title>
<div style="background: url(./assets/wallpaper.png); background-repeat: no-repeat;background-position: center center; background-size: cover; height: 650px;overflow: hidden;">
<nav class="navbar navbar-expand-lg navbar-light"> 
  <a class="navbar-brand" href="#"> 
     Techizant     
  </a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span> 
  </button> 
  <div class="collapse navbar-collapse" id="navbarNav" > 
    <ul class="navbar-nav"> 
      <li class="nav-item active"> 
        <a class="nav-link" data-toggle="modal" data-target="#myModal2" style="cursor: pointer">Mentor</a> 
      </li> 
      <li class="nav-item"> 
        <a class="nav-link" data-toggle="modal" data-target="#myModal1" style="cursor: pointer">Admin</a> 
      </li> 
             
    </ul> 
  </div> <!-- // added new (copy it from:- https://getbootstrap.com/docs/4.3/components/navbar/)--> 
</nav>
<!--  66666666666666666666666666666666666666666666 searching -->
<div class="card" >
  <h3>You can check our mentors even before registering. Have a look!</h3><br>
  <p>Search here for the technology you need training for and the time you prefer to start it!</p>
  
  <form class="form-inline my-2 my-lg-0" [formGroup]="SearchForm" (ngSubmit)="search()">
    <div class="container">
    <input class="form-control mr-sm-2" type="search" [formControl]="keyword" placeholder="Search the tech" aria-label="Search">  
  </div>
  <div class="container">
    <p>Please Select preferred timing</p>
    <input class="form-control mr-sm-2" type="time" [formControl]="from" aria-label="time">
    <input class="form-control mr-sm-2" type="time" [formControl]="till" aria-label="time"><br>
    <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
  </div>
  </form>
  
</div>
<!-- 666666666666666666666666666666666666666form -->
<div class="container"> 
  <div class="jumbotron" style="background:none;">
    <div class="jumbotron-content">
      <h1>User Login</h1>
      <p class="jumbotron-lg-only">Join our courses by creating your account here</p>
      <form name="user-info" [formGroup]="AuthenticateForm" (ngSubmit)="authenticate()">
              <div class="form-group">
                      <input type="email" placeholder="Username" formControlName="username" class="form-holder"/>
                  </div>
                  <div class="form-group">
                          <input type="password" placeholder="Password" formControlName="password" class="form-holder"/>
                      </div>
                      <button class="btn btn-large btn-primary" type="submit" data-dismiss="modal">Sign In</button>
                      <a  routerLink="/forget-password"><small>Forgot password?</small></a>
                      <!-- <a data-toggle="modal" class="btn btn-large btn-primary" data-target="#MyModal">Sign Up</a> -->
                      <br><small style="color: ivory">Not a user, Click below.</small>
                      <button type="button" class="btn btn-large btn-primary" data-toggle="modal" data-target="#myModal">SignUp</button>
      </form>
    </div>
  </div> 
</div>
 <!-- 6666666666666666666666666666666666666signup modal -->
           
 <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="text-align: center;">Sign Up</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="margin: 0 auto;">
                <form [formGroup]="RegisterForm" (ngSubmit)="register()">
                        <div class="form-group">
                            <!-- <label for="email" >Email:</label>  -->
                            <input type="email" placeholder="Email id as Username" formControlName="username" class="form-holder" />
                        </div>
                        <div class="form-group">
                            <!-- <label for="password" >Password:</label>  -->
                            <input type="password" placeholder="Password" formControlName="password" class="form-holder"/>
                        </div>
                        <div class="form-group">
                            
                            <input type="password" placeholder="ReType-Password" formControlName="password" class="form-holder"/>
                        </div>
                        <div class="form-group">
                          <input type="text" placeholder="First Name" formControlName="first_name" class="form-holder" />
                        </div>
                        <div class="form-group">
                          <input type="text" placeholder="Last Name" formControlName="last_name" class="form-holder" />
                        </div>
                        <div class="form-group">
                          <input type="tel" placeholder="Contact Number" formControlName="contact_number" class="form-holder" />
                        </div>
                        <div class="form-group">
                          <input type="tel" placeholder="Pincode" formControlName="reg_code" class="form-holder" />
                        </div>
                        <div class="form-group">
                          <input type="text" placeholder="linkedin url" formControlName="linkedin_url" class="form-holder" />
                        </div>
                        <button class="btn btn-outline-success my-2 my-sm-2" type="submit">SignUp</button>
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- 6666666666666666666666666666666666666666 mentor signin modal -->
 <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="text-align: center;">Mentor Sign In</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="margin: 0 auto;">
                <form name="user-info" [formGroup]="AuthenticateForm" (ngSubmit)="authenticateMentor()">
                        <div class="form-group">
                            <input type="email" placeholder="Mail Id" formControlName="username"  class="form-holder" />
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" formControlName="password" class="form-holder"/>
                        </div>
                        <button class="btn btn-large btn-primary" type="submit" data-dismiss="modal">Sign In</button>
                        <small>Want to create new account, click below.</small>
                        <a class="btn btn-large btn-primary"data-toggle="modal" data-target="#myModal3">Register</a>
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-large btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

              <!-- 6666666666666666666666666666666666666666 Admin signin modal -->
              <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="myModal1" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title" style="text-align: center;">Admin Sign In</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body" style="margin: 0 auto;">
                              <form name="user-info" [formGroup]="AuthenticateForm" (ngSubmit)="authenticateAdmin()">
                                      <div class="form-group">
                                          <input type="email" formControlName="username" placeholder="Mail Id" class="form-holder" />
                                      </div>
                                      <div class="form-group">
                                          <input type="password" formControlName="password" placeholder="Password" class="form-holder"/>
                                      </div>
                                      <a class="btn btn-large btn-primary" data-dismiss="modal">Sign In</a>
                                      
                              </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 777777777777777777777777777777777mentor sign up -->
              <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="myModal3" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content" style="width:140%">
                      <div class="modal-header">
                          <h4 class="modal-title" style="text-align: center;">Mentor Sign Up</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body" style="margin: 0 auto;">
                        <form [formGroup]="RegisterMentorForm" (ngSubmit)="registerMentor()">
                          <div class="form-group">
                              <input type="email" placeholder="Email id as Username" formControlName="username" class="form-holder" />
                          </div>
                          <div class="form-group">
                              <input type="password" placeholder="Password" formControlName="password" class="form-holder"/>
                          </div>
                          <div class="form-group">
                              
                              <input type="password" placeholder="ReType-Password" formControlName="password" class="form-holder"/>
                          </div>
                          <div class="form-group">
                            <input type="text" placeholder="First Name" formControlName="first_name" class="form-holder" />
                          </div>
                          <div class="form-group">
                            <input type="text" placeholder="Last Name" formControlName="last_name" class="form-holder" />
                          </div>
                          <div class="form-group">
                            <input type="tel" placeholder="Contact Number" formControlName="contact_number" class="form-holder" />
                          </div>
                          <div class="form-group">
                            <input type="tel" placeholder="Pincode" formControlName="reg_code" class="form-holder" />
                          </div>
                          <div class="form-group">
                            <input type="text" placeholder="linkedin url" formControlName="linkedin_url" class="form-holder" />
                          </div>
                          <div class="form-group">
                            <input type="tel" placeholder="Years of Experience" formControlName="years_of_experience" class="form-holder" />
                          </div>
                          <button class="btn btn-outline-success my-2 my-sm-2" type="submit">SignUp</button>
                  </form>   
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-large btn-primary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

 

</div> 