<h2>Payment</h2>
<div>
    <div class="row">
        <div class="col-75">
          <div class="container">
            <form action="user.html">
            
              <div class="row">
                <div class="col-50">
                  <h3>Billing Address</h3>
                  <input type="text" id="fname" name="firstname" placeholder="Full Name">
                 
                  <input type="text" id="email" name="email" placeholder="Email">
                  
                  <input type="text" id="adr" name="address" placeholder="Address">
                 
                  <input type="text" id="city" name="city" placeholder="City">
      
                  <div class="row">
                    <div class="col-50">
                     
                      <input type="text" id="state" name="state" placeholder="state">
                    </div>
                    <div class="col-50">
                      
                      <input type="text" id="zip" name="zip" placeholder="PIN">
                    </div>
                  </div>
                </div>
      
                <div class="col-50">
                  <h3>Payment</h3>
                  <label for="fname">Accepted Cards</label>
                  <!-- <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                  </div> -->
                  
                  <input type="text" id="cname" name="cardname" placeholder="Name on Card">
                  
                  <input type="text" id="ccnum" name="cardnumber" placeholder="Credit card number">
                  
                  <input type="text" id="expmonth" name="expmonth" placeholder="Exp Month">
                  <div class="row">
                    <div class="col-50">
                     
                      <input type="text" id="expyear" name="expyear" placeholder="Exp Year">
                    </div>
                    <div class="col-50">
                      
                      <input type="text" id="cvv" name="cvv" placeholder="CVV">
                    </div>
                  </div>
                </div>
                
              </div>
              
              <input type="submit" value="Complete Payment" routerLink="/user" class=" btn">
            
            </form>
          </div>
        </div>
        <div class="col-25">
          <div class="container">
            <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> </span></h4>
            <div *ngFor="let train of trainings">
            <p>Training Name <span class="price">{{train.skillName}}</span></p>
            <p>Trainer Name <span class="price">{{train.mentorName}}</span></p>
            <p>Fees(in Rs.) <span class="price">{{train.fees}}</span></p>
            <p>Duration(in mnths) <span class="price">1</span></p>
              </div>
            <hr>
            
          </div>
        </div>
      </div>
</div>
